# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_SKULLY_LEFT
	def_bool $(shields_list_contains,card_left)

config SHIELD_SKULLY_RIGHT
	def_bool $(shields_list_contains,card_right)

config SHIELD_SKULLY_DONGLE
	def_bool $(shields_list_contains,card_dongle)
