# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_SKULLY_LEFT
	def_bool $(shields_list_contains,skully_left)

config SHIELD_SKULLY_RIGHT
	def_bool $(shields_list_contains,skully_right)
