/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/* Layers */
#define AL1 0
#define SYM1 1
#define NAV1 2
/ { 
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
  };
     keymap {
              compatible = "zmk,keymap";

              alpha1 {
              bindings = <
              &kp Q   &kp W       &kp E       &kp R           &kp T           &kp Y     &kp U       &kp I       &kp O       &kp P
              &kp A   &hm LCTL S  &hm LALT D  &hm RGUI F      &kp G           &kp H     &hm RGUI J  &hm RALT K  &hm RCTL L  &kp SEMI
              &kp Z   &kp X       &kp C       &kp V           &kp B           &kp N     &kp M       &kp COMMA   &kp DOT     &kp SLASH
                                  &none       &hm TAB LSHIFT  &kp SPC         &kp BKSP  &kp RET     &to SYM1
              >;
              };
              symbols1 {
              bindings = <
              &kp EXCL    &kp AT      &kp POUND       &kp DLLR          &kp PRCNT       &kp CARET   &kp AMPS        &kp ASTRK       &kp LPAR        &kp RPAR
              &kp ESC     &kp LCTL    &hm LALT GRAVE  &hm RGUI APOS     &kp DQT         &kp LBRC    &hm RGUI RBRC   &hm RALT LBKT   &hm RCTL RBKT   &kp COLON
              &kp TILDE   &kp UNDER   &kp PLUS        &kp MINUS         &kp KP_EQUAL    &kp PIPE    &kp BSLH        &kp LT          &kp GT          &kp QMARK
                                      &to AL1         &to NAV1          &trans          &trans      &trans          &none
              >;
              };
              navigation1 {
              bindings = <
              &trans    &kp N7  &kp N8      &kp N9  &trans        &kp C_VOL_DN   &kp C_VOL_UP  &kp C_MUTE  &kp C_BRI_DN  &kp C_BRI_UP
              &trans    &kp N4  &kp N5      &kp N6  &trans        &kp LEFT       &kp DOWN      &kp UP      &kp RIGHT     &trans
              &kp N0    &kp N1  &kp N2      &kp N3  &trans        &trans         &trans        &trans      &trans        &trans
                                &to AL1     &none   &trans        &kp BKSP       &trans        &SYM1
              >;
              };

        };
};
